<ion-header>

  <ion-navbar>
    <header></header>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-textarea class="textarea" [(ngModel)]="girilenKarekodlar" placeholder="LÜTFEN KAREKODLARI BURAYA YAPIŞTIRIN"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 *ngIf="!showKaydetButon" class="mx-auto">
      <button  ion-button
              block
              (click)="hepsiniKopyala()"
              round
              large>HEPSİNİ KOPYALA</button>
    </ion-col>
    <ion-col *ngIf="showKaydetButon" col-6 class="mx-auto">
      <button ion-button
              block
              (click)="karekodlariKaydet()"
              round
              large>KAYDET</button>
    </ion-col>
  </ion-row>
</ion-content>
